# Database connection (SQLite local path by default)
DATABASE_URL="file:./dev.db"

# JWT Auth Secret Key (change in production)
JWT_SECRET="harmony_super_secret_jwt_key_123"

# Port (local execution)
PORT=5001
